html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
}

canvas {
  display: block;
}

.header1 {
  position: fixed;
  color: #FFFFFF;
  font-size: max(15px, 2vw);
  padding-top: 5vw;
  padding-left: 2vw;
}

.i1 {
  position: fixed;
  padding-top: 2vw;
  padding-left: 2vw;
  width: max(15px, 2vw);
  height: max(15px, 2vw); 
}

.p1 {
  position: fixed;
  color: #FFFFFF;
  font-size: max(11px, 1.25vw);
  padding-top: 6vw;
  padding-left: 2vw;
}